<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title class="header">Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/cxd3twe.css">


</head>

{{!-- nav bar --}}

<body>
  <nav class="navbar-brand box display-flex justify-space-between">
    <div class="navbar-brand">

      <p class="page-title"> Tech Blog</p>
      {{!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a> --}}
    </div>

    <div class="navbar-brand navbar-end">



      <a class="navbar-item" href="/Home">Home
      </a>

      <a class="navbar-item" href="/Dashboard">Dashboard
      </a>



      <div class="navbar-item">
        <div class="buttons">
          {{#if logged_in}}
          <a href="#" class="button login" id="logoutBtn">
            <strong>Log Out </strong>
          </a>
          {{else}}
          <a href="/login" class="button login">
            <strong>Log In </strong>
          </a>
          {{/if}}
        </div>
      </div>

    </div>
  </nav>


  {{{body}}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>