<div class="row mt-4">
  <div class="col-md-6">

    <div>
        <p> {{blog_topic}}</p>
        <p> {{blog_body}}</p>

        <p> {{blog_comment}}</p>



    </div>

    
  </div>

 </div>
  <script src="/js/comment.js"></script>