{{!-- display user blogs--}}
<div class="row">
  <h2 id="userblog">Your blog posts {{email}}!</h2>
  <div class="col-auto">
    <div>
      {{#each Blogs as |blog|}}
     
       <p id="userblogTopicPEl">{{blog.blog_topic}}</p>
       <p id="userblogDescriptionPEl">{{blog.blog_body}}</p>
      {{/each}}
    </div>
  </div>
</div>
<a href = "/newblog" ><input class="button" type="submit" value="Add New Post"></a>
