{{!-- login page--}}
<div class="logincont level-item">
    <div class=" has-text-centered">
        <div class="col-md-6">
            <h2>Login</h2>
            <form class="login-form" id="login-form1">
                <div class="form-group">
                    <label for="email-login">email:</label>
                    <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">password:</label>
                    <input class="form-input" type="password" id="password-login" />
                </div><br>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Log in</button>
                </div>
            </form>
        </div><br><br>
    </div>
</div><br>

<div id="signupNew">
  <a href="/signup" class="button" type="submit" id="signupNew">Sign Up Here</a>
</div>

<script src="./js/login.js"></script>
{{!-- // router.get("/login", async (req, res) => {
//   res.render("login", {
//     logged_in: req.session.logged_in,
//   });
// }); --}}
