<div class="row mt-4">
  <div class="col-md-6">
    <p> Update Blog</p>

    <div>
      <p> {{blogUpdate.blog_topic}}</p>
      <p> {{blogUpdate.blog_body}}</p>

    </div>

    <button class="button" type="submit" id="blogUpdate" value="Submit"> Update blog </button>
  <button class="button" type="submit" id="blogDelete" value="Delete"> Delete blog </button>
  </div>

</div>
<script src="./js/blogupdate.js"></script>