<div class="row mt-4">
  <div class="col-md-6">
    <p> Update Blog</p>

    <div>
      <input id= "blog-topic" value="{{blog_topic}}"> </input>
      <input id= "blog-body" value="{{blog_body}}"> </input>
      <input id= "blog-com" value="{{id}}"> </input>

    

    </div>

    <a href = "/dashboard"><button class="button" type="submit" id="blogUpdate" value="Submit"> Update blog </button></a>
  
   <a href = "/dashboard"><button class="button"  id="blogDelete">DELETE</button></a>
  </div>

</div>
<script src="../js/blogupdate.js"></script>