<div class="row mt-4">
  <div class="col-md-6">

    <div>
        <p> {{blog_topic}}</p>
         <p> {{blog_body}}</p>
         

    </div>

   
<input class="input is-info blog-com" id="blog-com" type="text" placeholder="Your comment" data-id="{{id}}">
<button class="button" type="submit" id="commentSub" value="Submit">Submit Comment</button>
    
  </div>
{{!-- // submit comment should have a link to a handlabers to show that post and a comment below --}}
 </div>
  <script src="/js/comment.js"></script>