<div class="row mt-4">
  <div class="col-md-6">

    <div>
        <p> {{blog2comment.blog_topic}}</p>
         <p> {{blog2comment.blog_body}}</p>

      {{!-- {{#each  blog2comment as |blogcomment|}}

      <p id="userblogTopicPEl">{{blogentry.blog_topic}}</p>
      <p id="userblogDescriptionPEl">{{ blogentry.blog_body}}</p>
     

      {{/each}} --}}
    </div>

   
<input class="input is-info blog-comment" type="text" placeholder="Your comment">
<input class="button" type="submit" value="Submit">
    
  </div>

 </div>
  <script src="./js/profile.js"></script>