* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffeff;
    display: block;
    color: rgb(71, 6, 98);
    margin: 0 auto;
    
}

#userblogTopicPEl{
    /* display: block;
    margin: 70px auto;
    width: 45%; */
    font-family: nasalization, sans-serif;
    color: rgb(247, 242, 250);
  
    text-align: left;
    font-size: 25px;
}

.page-title{
    font-family: nasalization, sans-serif;
    margin: 1%;
    color: rgb(71, 6, 98);
    font-size: 25px;

}



#userblogDescriptionPEl  {
    /* display: block;
    margin: 70px auto;
    width: 45%; */
    font: halogen;
    color: rgb(71, 6, 98);
    text-align: left;
    font-size: 16px;
    font-style: italic;
}

/* #card-blog {
    display: block;
    background-color: #b3a2e4;
    margin: 70px auto;
    width: 45%;
    color: rgb(249, 247, 247);
    text-align: left;

} */


.navbar-item{
    font-family: nasalization, sans-serif;
    color: rgb(71, 6, 98);
    font-size: 25px;
}